body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff8ef;
  color: #39214e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.random-tile {
  background-color: #faa081;
}

.name-tile {
  background-color: #a0dac3;
}

.ingredient-tile {
  background-color: #ffe283;
}

.categories-tile {
  background-color: #a6dde9;
}

.card.h-100 {
  aspect-ratio: 1 / 1; 
  cursor: pointer;
  transition: transform 0.2s;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  height: 100%;
}

.card-body svg {
  width: 64px;  
  height: 64px;
  margin-bottom: 10px;
  display: block; 
}

.card:hover {
  transform: scale(1.05);
}