body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFF8EF;
  color: #39214E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.random-tile {
  background-color: #FAA081;
}

.name-tile {
  background-color: #A0DAC3;
}

.ingredient-tile {
  background-color: #FFE283;
}

.categories-tile {
  background-color: #A6DDE9;
}
